<div class="row">
  <div class="col-md-12">
    <mat-form-field>
      <mat-select placeholder="Where do you want" [(value)]="where" name="where">
        <mat-option value="UK">UK</mat-option>
        <mat-option value="England">England</mat-option>
        <mat-option value="Scotland">Scotland</mat-option>
        <mat-option value="Wales">Wales</mat-option>
      </mat-select>
    </mat-form-field>
    &nbsp;
    <mat-form-field>
      <mat-select placeholder="What do you want" [(value)]="whatToSee" name="whatToSee">
        <mat-option value="Rainfall">Rainfall</mat-option>
        <mat-option value="Tmax">Max Temperature</mat-option>
        <mat-option value="Tmin">Min Temperature</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div class="row" *ngIf="showYears">
  <div class="col-md-12">
    <mat-form-field>
      <mat-select placeholder="From" [(value)]="initYear" name="initYear">
        <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
      </mat-select>
    </mat-form-field>
    &nbsp;
    to
    &nbsp;
    <mat-form-field>
      <mat-select placeholder="To" [(value)]="finishYear" name="finishYear">
        <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <app-graphcomponent [whatToSee]="whatToSee" [where]="where" [initYear]="initYear" [finishYear]="finishYear" (sendTheYears)="putTheYears($event)"></app-graphcomponent>
  </div>
</div>
